@import './smart-grid'

@font-face
  font-family segoe
  font-style normal
  src url(../fonts/segoeScript.ttf)


width-content()
  max-width: 1000px
  margin: 0 auto;
  overflow: hidden;

row-space()
  margin-top: 20px
  padding-bottom: 20px
  border-bottom: 1px dashed black

row-flex-space-between()
  row-flex()
  justify-content: space-between;

reset()

body
  // font-family: "Bad Script";
  // font-weight: bold
  font-family: segoe
  width: 100%
  font-size: 22px
  // background: url(../img/pic-3.png) repeat
  // background-color: white

.needle
  display: inline;
  background: url(../img/needle.png) 0 -6px no-repeat
  background-size: 100%
  width: 9%
  height: 52px
  md(display, none)

  &__paragraph
    width: 6%
    height: 30px
    // float: left;
    display: inline-block;

.header
  width-content()
  background-color: white

  .logos
    row-flex-space-between()
    margin: 10px 0px
    sm(justify-content, center)

    .logo

      &_main
      &_icons
        flex-basis: 287px
        height: 50px

      &_main
        background: url(../img/logoDitz.png) 50% 50% no-repeat
        background-size: 100% auto
        cursor: pointer;
        @media screen and (max-width: 600px)
          margin: 10px
          flex-basis: 400px
          height: 80px

      &_icons
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          flex-basis: 150px

          li
            flex-basis: 50px
            height: 50px
            cursor: pointer;

  .wrap-menu
    min-height: 50px
    display: flex
    flex-wrap: wrap
    // justify-content: space-between
    align-items: center
    sm(display, none)
    md(justify-content, space-around)

    .main-menu
      min-height: 50px
      width: 91%
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-items: center
      border-top: 1px dashed black
      border-bottom: 1px dashed black
      sm(display, none)
      md(justify-content, space-around)
      md(width, 100%)

      li
        cursor: pointer;
        md(margin, 0 40px)

.content
  width-content()
  background-color: white

  .row
    row-space()

    &__content
      row-flex-space-between()

      .rightPictures
        col();
        col-4();
        sm(display, none)
        row-flex-space-between()
        flex-direction: column;

        li
          cursor: pointer;

          img
            display: block

    &__caption
      row-flex-space-between()
      align-items: center
      flex-wrap: nowrap;

      &-split
        margin-top: 30px;

      div
        col()
        flex-basis: 300px
        cursor: pointer;

        &:last-child
          xs(flex-basis, 250px)

    &__image
      ul
        row-flex-space-between()
        align-items: center

        li
          col()
          col-3()
          col-sm-6()
          margin-top: 10px

          img
            display: block;
            margin-left: auto;
            margin-right: auto

      &-threeImg li
        &:nth-child(2)
          col-6()
          col-sm-12()
          sm(order, -1)

      &-sixImg ul
        justify-content: flex-start;
        margin-left: -10px
        margin-right: -10px

        li
          padding: 10px
          col-2()
          col-sm-4()

      &-album ul
          justify-content: flex-start;

    .text
      font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
      font-size: 22px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 30px;
      font-stretch: expanded;
      text-align: center;

      .paragraph
        margin 40px 0;

        &-bottom
          font-family: segoe

        &-right
          text-align: right;

        &-left
          text-align: left;

.screenImage
  display: none;
  position: fixed;
  top: 0
  right: 0
  width: 100%
  height: 100%
  z-index: 100
  background: url(../img/fancybox_overlay.png);

.slider
  display: block;
  position: relative;
  overflow: hidden;


  &-onLeft
    col();
    col-8();
    col-sm-12();
    position: relative;
    cursor: pointer;

  &-fullScreen
    width: 600px;
    height: 100%;
    sm(width, 100%);
    margin: auto;

  &__imgSize
    display: block;

  div
    display: block;

    img
      display: block;
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      bottom: 0
      right: 0;

  ul

    li
      display: block;
      opacity: 0
      transition: opacity 1s;

      &.animate
        opacity: 1

      img
        display: block;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0
        right: 0;

  &__arrowRight
  &__arrowLeft
    display: none
    width: 50px
    height: 25px
    position: absolute;
    z-index: 1
    top: 50%
    margin-top: -12px
    background: url(../img/arrows.png) no-repeat
    background-size: 300% auto
    sm(display, block)
    cursor: pointer;
    border-radius: 8px
    &:hover
      background-color: grey
      opacity: .7

  &__arrowRight
    right: 0
    background-position: 0px -13px


  &__arrowLeft
    left: 0
    background-position: -100px -13px

  &:hover .slider__arrowRight
  &:hover .slider__arrowLeft
    display: block;

  &__closeImage
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    bottom: 20px
    width: 34px
    height: 34px
    background: url(../img/fancybox_sprite.png) no-repeat
    // background-size: auto
    // background-position: 0px 0px
    z-index: 1

.visible
  display: block

.footer
  width-content()
  background-color: white

  .wrap-footer
    row-flex-space-between()
    md(justify-content, space-around)
    margin: 30px 0
    font-size: 19px

    .copy
      font-family: "Arial";

    div
      col()
      flex-basis: 387px
      line-height: 1

      .min-font
        font-size: 10px

    .contact
      display: flex;
      md(margin-top, 20px )

      .address
        line-height: 1.5

      .footer-img
        max-width: 70px
        xs(display, none)


        img
          display: block
          position: relative;
          right: 0
